.App {
  text-align: center;
  
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.card {
  display: inline-block;
  text-align: center;
  width: 3em;
  font-size: 2em;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin: 1em;
  user-select: none;
  border-radius: 12px;
  
}

.activeCard {

  background-color: slategray;
  color: azure;
  border: 2px solid rgba(2, 54, 54, 0.425);
}


.welcome{

    border-radius: 25px;
    background: rgba(0, 0, 0, 0.212);
    color: aliceblue;
    padding: center;
    width: center;
    height: center;
  
}

body{
  background :url(https://archive-media-0.nyafuu.org/wg/image/1510/26/1510261916787.gif) ;
  height: 800px;
  background-size: cover;
  background-position: center;
}

.button:hover{
  background-color: rgba(11, 0, 51, 0.582); /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.buttonAudioPlay{
  background-color:cadetblue; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  float: left;
  
}

.buttonAudioPause{
  background-color: darkslategray; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  float: right; 
}

.animetion{
  width: 500px;
  height: 50px;
  background-color:  rgba(0, 71, 38, 0);
  color: white;
  font-weight: bold;
  position: relative;

  animation: mymove 15s infinite;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes mymove {
  from {left: 0%;}
  to {left: 100%;}
}

